<section 
	class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black"
	>
	<div class="z-30 relative h-full flex flex-col">
		<header>
				<h2 class="text-black pt-40 text-[40px] font-medium">
                    Model 3
                </h2>

				<p class="text-black text-sm underline">
                    Agenda una demostración de manejo
                </p>		
		</header>
			<footer class="flex flex-col flex-grow justify-end pb-20">
				<div class="gap-x-6 flex mx-auto">
                    <a
					 class="border-[3px] border-white bg-white text-sm rounded font-medium  px-10 py-2 transition-colors
					hover:bg-black hover:border-black hover:text-white inline-flex justify-center items-center text-black" 
					 href="#"
					>Explora el inventario
                    </a><a
					 class="border-[3px] border-gray-900 bg-gray-900 text-sm rounded  font-medium text-white px-10 py-2 
					   transition-colors hover:bg-gray-800 hover:border-gray-800" 
					 href="#"
					>Orden personalizada
                    </a>

					</div>
				
			</footer>
	</div>
	

		<div class="absolute top-0 bottom-0 h-full w-full z-10">
			<img 
            src="/model-3.avif" 
            alt="Model 3" 
            class="h-full w-full object-cover object-center">
		</div>
	</section>